{% extends 'layout_base/main.html' %}

{% load staticfiles %}

{% block title %} Cadastro Ong {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/cadastro.css' %}"> {% endblock %}

{% block content %}
    <div class="formulario">
        <h2> Cadastro Ong </h2>
        <form method="POST">
            {% csrf_token %}
                {{form.as_p}}
                
            <div class="btn-cadastrar">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
{% endblock %}