{% extends 'layout_base/main.html' %}

{% load staticfiles %}

{% block title %} Cadastro de Vagas {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/cadastro.css' %}"> {% endblock %}

{% block content %}
    <div class="formulario">
        <h2> Cadastro de Vagas </h2>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {{login.as_p}}
            <div class="btn-cadastrar">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
{% endblock %}