{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/entrar_ong.css' %}">
    <title>Portal da Ong</title>
</head>
<body>
    <section id="aluno">
        <div id="icone-perfil">
            <img src="{% static 'images/cid.jpg' %}" alt="">
        </div>
        <p>Centro de inclusão digital</p>
        <h2>CID</h2>
        <h3>Horas totais: 180 horas</h3>
        <a href="">
            <button class="bt_vagas">+ Vagas</button>
        </a>
        <br>
        <a href="{% url 'inicioSite' %}">
            <button id="sair" type="button">Sair</button>
        </a>
    </section>

    <aside>
        <p id="header_linha">Suas vagas</p>
        <div id="linha">        
        </div>

    {% for vaga in vagas %}
        <div class="container">
            <p>{{vaga.nome_vaga}}</p>
            <p>{{vaga.detalhes}}</p>
        <a href="{% url 'areaVagas' %}">
            <button class=bt_vagas>Vagas</button>
        </a>
        </div>
    {% endfor %}
    </aside>
</body>
</html>