{% extends 'layout_base/main.html' %}

{% load staticfiles %}

{% block css %} <link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <div id="banner">
        <img src= "{% static '/Imagens/bannerPrincipal.png' %}" alt="">
    </div>
    <div id="quem-somos">
        <div>
            <h3>Quem Somos</h3>
            <p>Horas complementares são reais e podem gerar dores de cabeça, e a falta 
                de voluntários em uma Ong também é, chegando a atrasar seu avanço. 
                Por isso, pensamos em uma maneira de ajudar todo mundo e fazer um enorme 
                bem para uma comunidade: trocar horas de trabalhos voluntários por horas 
                complementares de forma facilitada e certificada.
                Somos uma plataforma que veio conectar estudantes do ensino superior 
                que precisam de horas complementares e Ongs abertas para voluntários. 
                Assim, nós da horas para o bem, nos tornamos um ambiente virtual onde 
                Ongs pedem (literalmente) ajuda aos universitários.
            </p>
        </div>
        <img src="{% static 'images/iconesFacaParte.png' %}" alt="">
    </div>
    <div id="como-fazemos">
        <h3>Como Funciona</h3>
        <div id="personas">
            <div class="persona">
                <div class="icone-perso">
                        <img src="https://img.icons8.com/wired/80/000000/students.png">
                    <span>Aluno</span>
                </div>
                <p> O estudante faz o cadastro na plataforma para que possamos apresentar as melhores oportunidades conforme seu perfil.

                </p>   
            </div>
            <div class="persona">
                <div class="icone-perso">
                        <img src="https://img.icons8.com/carbon-copy/80/000000/organization.png">
                    <span>ONG</span>
                </div>
               <p>A Ong nos informa as atividades que podem ser realizadas pelos alunos e quanto tempo ele deve disponibilizar para realizá-las.</p>
            </div>
            <div class="persona">
                <div class="icone-perso">
                        <img src="https://img.icons8.com/carbon-copy/80/000000/file.png">
                    <span>Horas <br>
                        Complementares  </span>
                </div>
                <p>Após escolher a Ong e dar suas horas para o bem dela, o estudante recebe um certificado incluindo tais horas e tempo de percurso.</p>
            </div>
        </div>
    </div>
    <div id="facaParte">
        <div>
            <h3>Faça parte</h3>
            <div id="eusou-container">
                <div id="eusou-setinha">
                    <p>Cadastre-se</p>
                </div>
                <a href="{% url 'cadAluno' %}">
                    <div id="eusou-aluno">
                        <p>Aluno</p>
                    </div>
                </a>
                <a href="{% url 'cadOng' %}">
                    <div id="eusou-ong">
                        <p>ONG</p>
                    </div>
                </a>
            </div>
            <div id="facaParte-cadastro">
                <p> Já possui cadastro ? <a href="{% url 'login' %}"><span>ENTRAR</span> </a></p>
            </div>
        </div>
        <img src="{% static 'images/iconesFacaParte.png' %}" alt="">
    </div>
    <div id="faleAqui">
        <h3>Fale Conosco</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.nome.errors }}
                {{ form.nome }}
                <label for="{{ form.nome.id_for_label }}" class="nome-label"><span class="conteudo-nome">Nome:</span></label>
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}" class="nome-label"><span class="conteudo-nome">E-mail:</span></label>
            </div>
            <div class="form-group">
                {{ form.assunto.errors }}
                {{ form.assunto }}
                <label for="{{ form.assunto.id_for_label }}" class="nome-label"><span class="conteudo-nome">Assunto:</span></label>
            </div>
            <div class="form-group">
                {{ form.mensagem.errors }}
                {{ form.mensagem }}
                <label for="{{ form.mensagem.id_for_label }}" class="nome-label"><span id="lb-textArea" class="conteudo-nome">Mensagen:</span></label>
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}