{% extends 'layout_base/main.html' %}

{% load staticfiles %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <div id="banner">
        Banner
    </div>
    <div id="quem-somos">
        <div>
            <h3>Quem Somos</h3>
            {% lorem 1 p %}
            <a href="#"> Faça parte </a>
        </div>
        <img src="https://placeimg.com/300/300/any" alt="">
    </div>
    <div id="como-fazemos">
        <h3>Como Fazemos</h3>
        <div id="personas">
            <div class="persona">
                <div class="icone-perso">
                </div>
                <ul>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                </ul>    
            </div>
            <div class="persona">
                <div class="icone-perso">
                </div>
                <ul>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                </ul>
            </div>
            <div class="persona">
                <div class="icone-perso">
                </div>
                <ul>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                </ul>    
            </div>
        </div>
    </div>
    <div id="facaParte">
        <div>
            <h3>Faça parte</h3>
            <div id="eusou-container">
                <div id="eusou-setinha">
                    <p>Cadastre-se</p>
                </div>
                <div id="eusou-aluno">
                    <p>Aluno</p>
                </div>
                <div id="eusou-ong">
                    <p>ONG</p>
                </div>
            </div>
            <div id="facaParte-cadastro">
                <p> Ja tem cadastro ? <span> entrar </span></p>
            </div>
        </div>
        <img src="{% static 'images/iconesFacaParte.png' %}" alt="">
    </div>
    <div id="faleAqui">
        <h3>Fale Aqui</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.nome.errors }}
                <label for="{{ form.nome.id_for_label }}">Nome: </label>
                {{ form.nome }}
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">E-mail: </label>
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.assunto.errors }}
                <label for="{{ form.assunto.id_for_label }}">Assunto: </label>
                {{ form.assunto }}
            </div>
            <div class="form-group">
                {{ form.mensagem.errors }}
                <label for="{{ form.mensagem.id_for_label }}">Mensagens: </label>
                {{ form.mensagem }}
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
{% endblock %}