{% extends 'layout_base/main.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <div id="banner">
        Banner
    </div>
    <div id="quem-somos">
        <div>
            <h3>Quem Somos</h3>
            {% lorem 1 p %}
            <a href="#"> Faça parte </a>
        </div>
        <img src="https://placeimg.com/300/300/any" alt="">
    </div>
    <div id="como-fazemos">
        <h3>Como Fazemos</h3>
        <div id="personas">
            <div class="persona">
                <div class="icone-perso">
                </div>
                <ul>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                </ul>    
            </div>
            <div class="persona">
                <div class="icone-perso">
                </div>
                <ul>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                </ul>
            </div>
            <div class="persona">
                <div class="icone-perso">
                </div>
                <ul>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                    <li>Como fazemos</li>
                </ul>    
            </div>
        </div>
    </div>
{% endblock %}