{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/vagas.css' %}">
    <title>Vagas</title>
</head>
<body>
    <section id="aluno">
        <div id="icone-perfil">
            <img src="{% static 'images/euDrake.jpg' %}" alt="">
        </div>
        <p>{{usuario.nome}}</p>
        <h2>{{usuario.Instituicao}}</h2>
        <h3>Horas desejadas: 180 horas</h3>
        <a href="{% url 'inicioSite' %}">
            <button type="button">Sair</button>
        </a>
    </section>

    <aside>
        <p id="header_linha">Vagas</p>
        <div id="linha">

        </div>
        
    {% for vaga in vagas %}
        <div class="container">
            <p>{{vaga.nome_vaga}}</p>
            <p>{{vaga.detalhes}}</p>
        <a href="">
            <button class="bt_vagas">Candidatar-se</button>
        </a>
        </div>
    {% endfor %}
    </aside>
</body>
</html>