<footer>
    <div>
        <p> CONECTE-SE A <strong>HORAS PARA O BEM</strong></p>
        <ul>
            <a href="http://www.facebook.com.br" target="_blank">
                <img src="https://img.icons8.com/material-rounded/50/000000/facebook.png">
            </a>
        
            <a href="http://www.twitter.com" target="_blank">
                <img src="https://img.icons8.com/material-rounded/50/000000/twitter.png">
            </a>
            <a href="http://www.linkedin.com" target="_blank">
                <img src="https://img.icons8.com/material/50/000000/linkedin.png">
            </a>
            <a href="http://www.instagram.com" target="_blank">
                <img src="https://img.icons8.com/material/50/000000/instagram-new.png">
            </a>
        </ul>
    </div>
        &copy; COPYRIGHT 2019, HORAS PARA O BEM
</footer>