<footer>
    <div>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Quem Somos</a></li>
            <li><a href="">Como fazemos</a></li>
            <li><a href="">Faça parte</a></li>
            <li><a href="">Fazer Login</a></li>
            <li><a href="">Cadastrar-se</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <a href="http://www.facebook.com.br" target="_blank" rel="noopener noreferrer"><li><i class="fab fa-facebook-f"></i></li></a>
            <a href="http://www.twitter.com" target="_blank" rel="noopener noreferrer"><li><i class="fab fa-twitter"></i></li></a>
            <a href="http://www.linkedin.com" target="_blank" rel="noopener noreferrer"><li><i class="fab fa-linkedin"></i></li></a>
            <a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer"><li><i class="fab fa-instagram"></i></li></a>
        </ul>
    </div>
</footer>