<div class="login-container">
    <form action="login" method="POST" class="corpo-modal animate">
        <span class="fecha" title="Fechar Modal">X</span>
        <div class="container-form">
            <span class="titulo-modal">
                <i class="fas fa-users"></i> <span> &nbsp&nbsp&nbsp Acessar Conta</span>
            </span>
            {% csrf_token %}
            {{formLogin.as_p}}
        </div>
        <button type="submit">Entrar</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Manter Conectado
        </label>
        <div class="footer-login">
            <button class="btnCancelar">Cancelar</button>
            <span class="esqueci">
                <a href="">Esqueceu a Senha?</a>
            </span>
        </div>
    </form>
</div>