@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    list-style: none

}


h3{
    font-size: 35pt;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0px 3px 3px rgba(146, 146, 146, 0.5);
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #logo-home img{
    width: 180px;
}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

header nav a{
    font-family: 'Oxygen', sans-serif;
    color: #fff;
}

header nav a:hover{
    font-weight: bolder;
}
/* FIM HEADER */


/* BACKGROUND DO HEADER, DIV.COMO FAZEMOS */
header, #como-fazemos, #faleAqui{
    /* Degrade */
    background: rgb(151,88,237);
    background: -moz-linear-gradient(-45deg, rgba(151,88,237,1) 0%, rgba(197,113,166,1) 50%, rgba(247,140,89,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(151,88,237,1) 0%,rgba(197,113,166,1) 50%,rgba(247,140,89,1) 100%);
    background: linear-gradient(135deg, rgba(151,88,237,1) 0%,rgba(197,113,166,1) 50%,rgba(247,140,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9758ed', endColorstr='#f78c59',GradientType=1 );
}
/* FIM HEADER, FOOTER, DIV.COMO FAZEMOS */

/* BANNER */
#banner{
    height: 500px;
    background-image: url('https://placeimg.com/1300/500/any');
    background-size: cover;
}
/* FIM BANNER */

/* QUEM SOMOS */
#quem-somos{
    display: flex;
    justify-content: space-around;
    padding: 35px;
}
#quem-somos div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quem-somos div h3{
    text-align: center;
    font-size: 25pt;
    margin-bottom: 10px;
    color: #9058FF;
}

#quem-somos div p{
    color: rgb(162, 116, 255);
    font-size: 14pt;
}

#quem-somos div a{
    margin: 20px;
    background-color: rgb(129, 72, 243);
    padding: 10px;
    color: #fff;
    font-size: 15pt;
    border-radius: 10px;
}

/* FIM QUEM SOMOS */

/* COMO FAZEMOS */
#como-fazemos{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 350px;
}


#como-fazemos #personas{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.persona{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-perso{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: #fff;
}
/* FIM COMO FAZEMOS */

/* FAÇA PARTE */
#facaParte{
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

#facaParte div{
    display: flex;
    flex-direction: column;
}

#facaParte h3{
    font-size: 35pt;
    color: #ee8c58;
}

#eusou-container{
    background-color: #ee8c58;
    height: 190px;
    width: 220px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eusou-setinha, #eusou-aluno, #eusou-ong{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

#eusou-setinha, #eusou-aluno, #eusou-ong, #facaParte-cadastro p{
    color: #ee8c58;
    font-size: 15pt;
}

#facaParte-cadastro span{
    background-color: #ee8c58;
    color: white;
    border-radius: 10%;
    font-size: 12pt;
    padding-left: 5px;
    padding-right: 5px;
}

#facaParte img{
    height: 320px;
    width: 320px;
}
/* FIM DO FAÇA PARTE */

/* FALE AQUI */
#faleAqui{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

#faleAqui h3{
    color: #fff;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0;
    width: 480px;

}

.form-group label{
    color: #fff;
    font-size: 12pt;
}

.form-group input, textarea{
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 17pt;
    padding: 8px;
}

.form-group input{
    height: 25px;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 6px 10px 9px 0px rgba(0,0,0,0.37);
}

form button{
    border: none;
    font-size: 12pt;
    padding: 12px;
    
}

form button:hover{
    box-shadow: inset 0 2px 5px rgb(230, 230, 230), 0 2px 3px rgb(83, 83, 83);
}
/* FIM FALE AQUI */

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer div:first-child ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
}

footer div:last-child ul{
    display: flex;
}

/* FIM FOOTER */
