@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    list-style: none

}


h3{
    font-size: 35pt;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0px 3px 3px rgba(146, 146, 146, 0.5);
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #logo-home img{
    width: 180px;
}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

header nav a{
    font-family: 'Oxygen', sans-serif;
    color: #fff;
}

header nav a:hover{
    font-weight: bolder;
}
/* FIM HEADER */


/* BACKGROUND DO HEADER, DIV.COMO FAZEMOS */
header, #como-fazemos, #faleAqui{
    /* Degrade */
    background: rgb(151,88,237);
    background: -moz-linear-gradient(-45deg, rgba(151,88,237,1) 0%, rgba(197,113,166,1) 50%, rgba(247,140,89,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(151,88,237,1) 0%,rgba(197,113,166,1) 50%,rgba(247,140,89,1) 100%);
    background: linear-gradient(135deg, rgba(151,88,237,1) 0%,rgba(197,113,166,1) 50%,rgba(247,140,89,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9758ed', endColorstr='#f78c59',GradientType=1 );
}
/* FIM HEADER, FOOTER, DIV.COMO FAZEMOS */

/* BANNER */
#banner{
    height: 500px;
    background-image: url('https://placeimg.com/1300/500/any');
    background-size: cover;
}
/* FIM BANNER */

/* QUEM SOMOS */
#quem-somos{
    display: flex;
    justify-content: space-around;
    padding: 35px;
}
#quem-somos div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quem-somos div h3{
    text-align: center;
    font-size: 25pt;
    margin-bottom: 10px;
    color: #9058FF;
}

#quem-somos div p{
    color: rgb(162, 116, 255);
    font-size: 14pt;
}

#quem-somos div a{
    margin: 20px;
    background-color: rgb(129, 72, 243);
    padding: 10px;
    color: #fff;
    font-size: 15pt;
    border-radius: 10px;
}

#quem-somos img{
    width: 450px;
    height: 450px;
}

/* FIM QUEM SOMOS */

/* COMO FAZEMOS */
#como-fazemos{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 350px;
}


#como-fazemos #personas{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.persona{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-perso{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color:#9058FF;
    font-size: 70px;
}

.icone-perso span{
    font-size: 14pt;
    text-align: center;
}
/* FIM COMO FAZEMOS */

/* FAÇA PARTE */
#facaParte{
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

#facaParte div{
    display: flex;
    flex-direction: column;
}

#facaParte h3{
    font-size: 35pt;
    color: #ee8c58;
}

#eusou-container{
    background-color: #ee8c58;
    height: 190px;
    width: 220px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eusou-aluno, #eusou-ong{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

#eusou-aluno, #eusou-ong, #facaParte-cadastro p{
    margin-top: 8px;
    color: #ee8c58;
    font-size: 15pt;
    text-align: center;
}

#facaParte-cadastro span:hover{
    background-color: #e4621c;
}

#facaParte-cadastro span{
    background-color: #ee8c58;
    color: white;
    border-radius: 10%;
    font-size: 12pt;
    padding: 8px;
}

#eusou-setinha{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}

#facaParte img{
    height: 320px;
    width: 320px;
}

#facaParte #eusou-container #eusou-setinha p{
    margin-top: -10px;
}

#eusou-aluno:hover, #eusou-ong:hover{
    background-color: #cecece;
    color: #fff;
}

/* FIM DO FAÇA PARTE */

/* FALE AQUI */
#faleAqui{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

#faleAqui h3{
    color: #fff;
}

form{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.form-group{
    margin-bottom: 25px; 
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.form-group input, textarea{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    color:#595f6e;
    border: none;
    outline: none;
    background-color: rgba(241, 241, 241, 0.240);
}

.form-group label{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid #c0c0c0;
    transition: all 1s ease
}


.form-group::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0 ;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #9058FF;
    transform: translate(-100%);
    transition: all 1s ease;

}

.conteudo-nome{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 1s ease;
}

.form-group input:focus,
.form-group input:valid{
    background-color: transparent;
}


.form-group textarea:focus,
.form-group textarea:valid{
    background-color: transparent;
}


.form-group input:focus + .nome-label .conteudo-nome, 
.form-group input:valid + .nome-label .conteudo-nome{
    transform: translateY(-80%);
    font-size: 14px;
    color: #9058FF;
}

.form-group textarea:focus + .nome-label .conteudo-nome, 
.form-group textarea:valid + .nome-label .conteudo-nome{
    transform: translateY(-1180%);
    font-size: 14px;
    color: #9058FF;
}

.form-group input:focus + .nome-label::after,
.form-group input:valid + .nome-label::after{
    transform: translateX(0%);
    transition: all 1s ease;
}

.form-group textarea:focus + .nome-label::after,
.form-group textarea:valid + .nome-label::after{
    transform: translateX(0%);
    transition: all 1s ease;
}

form div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

form div button{
    border: none;
    background-color: #9058FF;
    font-size: 12pt;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

form div button:hover{
    background-color: rgb(133, 73, 252);
}

/* FIM FALE AQUI */

/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #d4d4d4;
}

footer div:first-child ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    color: #9058FF;
}

footer div:first-child ul li{
    margin-top: 5px;
    margin-left: 10px;
}

footer div:first-child ul li a:hover{
    color: rgb(127, 64, 255);
}

footer div:last-child{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer div:last-child ul{
    margin-top: 15px;
    display: flex;
}

footer div:last-child ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

footer div:last-child ul a:last-child{
    margin-right: 0;
}


footer div:last-child ul a li{
    display: flex;
    align-items: center;
    justify-items: center;
    color: #fff;
    background-color: #9058FF;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 1.8em;
}

footer div:last-child ul a li:hover{
    background-color: rgb(107, 50, 223);
}

footer div:last-child ul a:last-child{
    margin-right: 0;
}

/* FIM FOOTER */


